<section class="page register">
    <h1 class="page__title register__title">Регистрация</h1>
    <form class="page__form register__form">
        <label class="page__label register__label" for="email-input">Почта</label>
        <input class="page__input register__input" type="text" name="email" id="email-input" required>
        <span class="page__form-error register__form-error page__form-error_active">Неверный формат почты</span>

        <label class="page__label register__label" for="login-input">Логин</label>
        <input class="page__input register__input" type="text" name="login" id="login-input" required>
        <span class="page__form-error register__form-error">Логин не может состоять более чем из 15 символов</span>

        <label class="page__label register__label" for="name-input">Имя</label>
        <input class="page__input register__input" type="text" name="name" id="name-input" required>
        <span class="page__form-error register__form-error">Имя не может состоять более чем из 15 символов</span>

        <label class="page__label register__label" for="surname-input">Фамилия</label>
        <input class="page__input register__input" type="text" name="surname" id="surname-input" required>
        <span class="page__form-error register__form-error">Фамилия не может состоять более чем из 25 символов</span>

        <label class="page__label register__label" for="phone-input">Телефон</label>
        <input class="page__input register__input" type="text" name="phone" id="phone-input" required>
        <span class="page__form-error register__form-error">Неверный формат телефона</span>

        <label class="page__label register__label" for="phone-input">Телефон</label>
        <input class="page__input register__input" type="text" name="phone" id="phone-input" required>
        <span class="page__form-error register__form-error">Неверный формат телефона</span>

        <button class="page__button login__button" type="submit">Авторизоваться</button>
        <a class="page__link login__link" href="#">Нет аккаунта?</a>
    </form>
</section>