<ul class="nav__list">
    <li class="nav__item"><a href="#" page="login">Login</a></li>
    <li class="nav__item"><a href="#" page="register">Register</a></li>
    <li class="nav__item"><a href="#" page="profile">Profile</a></li>
    <li class="nav__item"><a href="#" page="chat">Chat</a></li>
    <li class="nav__item"><a href="#" page="404">404</a></li>
    <li class="nav__item"><a href="#" page="500">500</a></li>
</ul>
