<section class="page error-page">
    <h1 class="page__title error-page__title">{{error}}</h1>
    <p class="page__text error-page__text">{{text}}</p>
    <a class="page__link error-page__link">Назад к чатам</a>
</section>