<body class="page login">
    <h1 class="page__title login__title">Вход</h1>
    <form class="page__form login__form">
        <label class="page__label login__label" for="name-input">Логин</label>
        <input class="page__input login__input" type="text" name="name" id="name-input" required>
        <span class="page__form-error login__form-error">Неверный логин</span>
    </form>

</body>